* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(95deg, rgb(125, 238, 163)18%, rgb(215, 106, 227)35%,
            rgb(203, 210, 76)75%, rgb(205, 103, 157)96%);
    font-family: 'Poppins', 'Ubuntu', 'sens-serif';
    color: aliceblue;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border:1px solid white;
    height: 80px;
    background-color: linear-gradient(95deg, rgb(114, 242, 157)18%, rgb(215, 106, 227)35%,
    rgb(203, 210, 76)75%, rgb(205, 103, 157)96%);
}
#gradient-text:hover {
    background-image: url(Img/Fire1.gif);
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 30px;
    font-weight: 600;
}
#gradient{
    background-image: linear-gradient(to right, rgb(151, 69, 19), rgb(32, 217, 50),
    rgb(107, 76, 210), rgb(197, 206, 23));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: lavender;
}

nav ul li a:hover {
    text-decoration: none;
    background: linear-gradient(to right, rgb(233, 96, 22), rgb(69, 215, 29),
    rgb(40, 19, 197), rgb(171, 35, 107));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 600;
}

main hr {
    border: 0;
    background: #952f9c;
    height: 1.2px;
    margin: 40px 84px;
}

.left {
    font-size: 1.5rem;
    font: linear-gradient(95deg, rgb(243, 112, 92)18%, rgb(203, 227, 106)35%,
    rgb(161, 169, 12)75%, rgb(205, 103, 157)96%);
}

.firstSection {
    display: flex;
    justify-content: space-around;
    margin: 80px 0;
}

.firstSection>div {
    width: 40%;
}

.leftSection {
    font-size: 3rem;
}

.leftSection .button{
    padding: 50px 0;
}

.leftSection .btn{
    padding:12px;
    border: 2px solid white;
    border-radius:6px;
    background: rgb(114, 242, 157);
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}

.rightSection img {
    width: 70%;
}

.purple {
    background :linear-gradient(to right, rgb(206, 98, 62)18%, rgb(96, 146, 34)35%,
    rgb(219, 221, 63)75%, rgb(103, 106, 205)96%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#element {
    background :linear-gradient(to right, rgb(213, 207, 122)18%, rgb(215, 106, 227)35%,
    rgb(203, 210, 76)75%, rgb(205, 103, 157)96%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.text-grey {
    color: blueviolet;
    font-weight: 500;
}

.secondSection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}

.secondSection h1 {
    font-size: 1.7rem;
}

.secondSection .box {
    background: white;
    width: 74vw;
    height: 2px;
    margin: 50px 0;
    display: flex;
}
.secondSection .vertical{
    height: 50px;
    width: 1px;
    background-color: white;
    margin: 0 100px;
}
.image-top{
    width: 50px;
    position: relative;
    top: -45px;
    left: -15px;
}
.vertical-title{
    position: relative;
    top:85px;
    width: 100px;
    font-size: 14px;
}
.vertical-desc{
    position: relative;
    top:15px;
    color:lavenderblush;
    width: 150px;
    font-size: 12px;
}
footer{
    background-color: linear-gradient(95deg, rgb(125, 238, 163)18%, rgb(215, 106, 227)35%,
    rgb(203, 210, 76)75%, rgb(205, 103, 157)96%);
}
.footer{
    display: flex;
    padding: 23px 120px;
    justify-content: space-evenly;
}
.footer ul{
    list-style: none;
}
.footer > div{
    width: 233px;
}
footer .footer-rights{
    text-align: center;
    padding: 12px 0;
    color: gray;
}
.services{
    display: flex;
    justify-content: space-evenly;
}
p{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.service ul{
    list-style: none;
    margin: 20px;
}
